<!DOCTYPE html>

<html>
   <head>
      <title>URL Shortener</title>
      <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
      <div class="container">
        <h2>API Project: URL Shortener Microservice</h2>
        <h3>Welcome to my project!</h3>
        <p>
          Send an url of the form <b>http(s)://www.yourpage.com</b> to my server and you'll receive a shortened version
          for easier access. 
        </p>
        <p>
          For example, if you receive a shortened url of 10, you can access it like this: <br>
          <b>
            <a href="https://gabrieljim-urlshortener.glitch.me/api/shorturl/10" target="_blank">
              https://gabrieljim-urlshortener.glitch.me/api/shorturl/10
            </a>
          </b>
          <br>And it'll redirect you
        </p>
        <form method="post" action="/api/shorturl/new">
          <label for="input_url">Send your URL:</label>
          <input id="input_url" name="url" type="text" placeholder="https://www.google.com">
          <input type="submit" value="SEND URL">
        </form>
      </div>
      <div class="footer">
        <p>
          by <a href="https://github.com/gabrieljim" target="_blank">gabrieljim</a>
        </p>
      </div>
   </body>
</html>
